APP_NAME=Shop
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=dbname
DB_USERNAME=user
DB_PASSWORD=password

PAYPAL_SANDBOX_CLIENT_ID=AeuYskNsNFv7X3ZEFp2qoQAfjyqdVHMgpXGyO78usV6jOccI7_SD2mpkMC_H493vrPNN5fVB_94vs49M
PAYPAL_SANDBOX_CLIENT_SECRET=EJ7oI0AWOW1YWPfcfEskJhwg5cIU5XzsyoK-xn1gkQXZpGi9VlpWwQ1-rAMBGh5q1qW-v_Rg34GT6ZIs

MAIL_MAILER=smtp
MAIL_HOST=smtp.yandex.ru
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

# Email администратора
MAIL_ADMIN_ADDRESS=
